<h1>Edit an evaluation</h1>
<div class="col-md-6">
  <%= form_for @evaluation do |f| %>
      <%= render 'form', f: f %>
      <%= f.submit 'Update', class: ['btn', 'btn-success'] %>
  <% end %>
</div>

<%= render 'modal', scores: @scores %>
