<% if @teachers.empty? %>
  <em>You have no classes</em>
<% else %>
  <h2>Your classes</h2>
  <div class="col-md-6">
    <div class="list-group">
      <% @teachers.each do |teach| %>
        <%= link_to evaluations_teacher_path(teach), class: 'list-group-item' do %>
          <h4 class="list-group-item-heading"><%= teach.klass.name %></h4>
          <p class="list-group-item-text"><%= teach.subject.name %></p>
        <% end %>
        <%= link_to 'Add', new_evaluation_teacher_path(teach), method: :get, class: ['btn', 'btn-primary', 'btn-list-add-eval'] %>
      <% end %>
    </div>
  </div>
<% end %>
