<h1>Your Evaluations <small><%= @student.user.full_name %></small></h1>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Subject</th>
      <% @types.each do |type| %>
        <th><%= type.name %></th>
      <% end %>
    </tr>
    <% @evaluations.each do |subject, evals| %>
      <tr>
        <td><%= subject.name %></td>
        <% @types.each do |type| %>
          <td>
          <% evals.select { |e| e.evaluation_type_id == type.id }.each do |eval| %>
            <%= link_to grid_evaluation(eval), evaluation_path(eval),
                        class: ['btn', 'btn-sm', "btn-#{eval.score_class}", 'grid-evaluation'] %>
          <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
