<% if klasses.any? %>
  <ul>
     <% klasses.each do |klass| %>
    <li><%= render 'partials/klass_li', klass: klass %></li>
  <% end %>
  </ul>
<% else %>
  <em>This user has no class</em>
<% end %>
