@import "twitter/bootstrap/variables.less";
@import "twitter/bootstrap/mixins.less";

.list-group-item.bg-success {
  background-color: @brand-success;
  &:hover, &:focus { background-color: lighten(@brand-success, 15%); }
}
.list-group-item.bg-danger {
  background-color: @brand-danger;
  &:hover, &:focus { background-color: lighten(@brand-danger, 15%); }
}
