<% if current_user %>
    <div class="row">
        <% @home_blocks.each do |name, conf| %>
            <%= home_block(name, conf) %>
        <% end %>
    </div>
<% else %>
    <%= render 'unlogged' %>
<% end %>
