<% if current_user %>
    <div class="row">
        <% APP_CONFIG['homepage'][current_user.user_group.name.downcase].each do |name, conf| %>
            <%= home_block(name, conf) %>
        <% end %>
    </div>
<% else %>
    <%= render 'unlogged' %>
<% end %>
