<%= button_to "Logout", destroy_user_session_path, method: :delete, class: ['btn', 'btn-warning', 'navbar-btn', 'pull-right'] %>
<p class="navbar-text pull-right">Welcome, <%= current_user.name %> <%= current_user.surname %></p>
