<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to APP_CONFIG['school']['short_name'], root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="nav navbar-nav">
        <%= nav_link_to 'Evaluations', evaluations_path, {}, {wrapper: 'li', selected_class: 'active', controller_segment: 1} %>
      </ul>

      <% if current_user %>
        <%= render 'layouts/navbar_welcome' %>
      <% elsif params[:controller] != 'devise/sessions' %>
        <%= render 'layouts/navbar_login' %>
      <% end %>
    </div>
  </div>
</nav>
